/* Styles grabbed from an online generator for now */

table.minimalistBlack {
  border: 3px solid #000000;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td,
table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
  font-size: 13px;
}
table.minimalistBlack td {
  width: 3rem;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}

form {
  width: 30%;
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
label {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}